[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "modules/pimoroni-pico"]
	path = modules/pimoroni-pico
	url = https://github.com/pimoroni/pimoroni-pico.git
